*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  box-shadow: none;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 10);

}
.navbar-expand-lg{
  background-color:rgb(1, 1, 10) !important;
}
.App {
  text-align: center;
  height: 100%;
  max-width: 550px;
  background-color:#0b0a18 ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerlogo{
  width: 60%;
}
.links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.fas{
font-size: 30px;
font-weight: bolder;
color: white;
}
.fa-music {
  color: rgb(180, 21, 180);
}
.color{
  color: rgb(180, 21, 180);
  font-weight: bolder;
  padding: 30px;
}
.fa-fast-backward{
  color: aqua;
}
.wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 500px;
  overflow-y: auto;
}

   .wrapper::-webkit-scrollbar{
     display: none;
   }
.date{
  background-color:#0b0a18;
  padding: 15px;
  margin: 3px;
  text-align: center;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  outline: none;
  border-color: white;
  
}
input::date{
  color: aliceblue;
}
.date:hover{
  background-color:aqua ;
}


.saveDream{
  width: 120px;
  padding: 8px;
  border-radius: 20px;
  background-color:rgb(214, 28, 205);
  border: none;
  outline: none;
}
.month{
  color: white;
}

textarea {
   
   border: none;
   background-color: transparent;
   resize: none;
   outline: none;
   color: white;
}
textarea::placeholder{
  text-align: center;
}

.tagbutton{
  width: 100px;
  padding: 8px;
  border-radius: 20px;
  background-color:white;
  border: none;
  outline: none;
  margin: 20px;
  font-weight: bolder;
}

.targetref{
  width: 200px;
  border: none;
  outline: none;
  color: aliceblue;
  background-color: transparent;
}

.fa-plus-circle{
  position: fixed;
  bottom: 0px;
  right: 650px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  color:rgb(214, 28, 205);
  z-index:2;
}
.close{
  width: 100%;
  height: 30px;
  padding: 20px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 3px;

}
.btnclose{
  width: 70px;
  padding: 8px;
  border-radius: 20px;
  background-color:white;
  border: none;
  outline: none;
}
.card{
background: rgba(63, 20, 148, 0.2) !important;
  
}
.dreamjournal{
 max-width:550px
}
